:root {
    --primary:#0f3264;
    --secondary: #78c800;
    --card: #ffffff;
    --text: #0f3264;
    --bg-gradient: linear-gradient(to top, #78C800, #0f3264);
}

/*body*/
body {
        margin: 0;
        padding:0;
        font-family: "Poppins", Arial, sans-serif;
        background: var(--bg-gradient);
        min-height: 100vh;
        
}

/* navbar */
.navbar {
    background: var(--primary);
    padding: 18px 30px;
    display: flex; 
    justify-content: center;
    gap: 30px;
}

.navbar a {
    color: #fff;
    font-size: 23px;
    text-decoration: none;
    transition: .2s;
    padding: 8px 15px;
    border-radius: 6px;
}

.navbar a:hover {
    background: var(--secondary); 
    color: white;
    transform: translateY(-2px);
}

/* Frases*/
.frase-login {
    text-align: center;
    font-size: 15px;
    color: #555;
    margin: 10px 0 25px 0;
    line-height: 1.4;
}

.frase-login strong {
    display: block;
    font-size: 18px;
    color: #0f3264;
    margin-bottom: 4px;
}


.frase{
    text-align: center;
    font-size: 18px;
    color: #555;
    margin: 20px 0 30px 0;
    line-height: 1.5;
    
}

h1 {
    text-align: center;
    color: #0f3264;
    font-size: 28px;
    margin-bottom: 25px;
}

h2{
    text-align: center;
    color: #0f3264;
    font-size: 22px;
    margin-bottom: 20px;
}



/* telas */
.screen {
    display: block;
    max-width: 600px;
    width: 90%;
    padding: 50px;
    background: var(--card);
    margin: 70px auto;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    animation: fade .5s ease;
}

.grid {
    display: grid;
    gap: 20px;
    margin-top: 30px;
}



.match-box {
background: #f7faff;
padding: 20px;
border-radius: 15px;
border: 2px solid var(--text);
text-align: center;
font-weight: bold;
transition: .2s;
}

.match-box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    cursor: pointer;
    border-color: var(--secondary);
}

/*pop-up partida*/
.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6); /* fundo escuro */
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    max-height: 90vh;
    overflow-y: auto;
    background: white;
    padding: 40px;
    border-radius: 20px;
    width: 90%;
    max-width: 700px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

/*sumula online*/
.score { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    color: var(--text);
}

.time {
    flex: 1;
    font-size: clamp(20px, 5vw, 50px);
    font-weight: 600;
    text-align: center;
    word-break: break-word;
}

.placar {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: clamp(40px, 8vw, 80px);
    font-weight: 700;
}

.vs {
    font-size: 25px;
    opacity: 0.7;
}

.score {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ranking*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: var(--text);
}
table th {
    background: var(--text);
    color: white;
    padding: 12px;
}

table td {
    padding: 12px;
    border-bottom: 1px solid #777;
}

@keyframes fade {
    from { opacity: 0; transform: translateY(15px); }
    to { opacity: 1; transform: translateY(0); }
}

.active {
    display: block !important;
}



/*logo*/
.logologin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.logologin img { 
    height: 140px;
    
}



.formato{
    text-align:center
}

.opcoes-formato {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
       
    

/* Inputs */
input {
    width: 90%;
    padding: 14px;
    margin: 7px;
    border-radius: 12px;
    border: 2px solid #d4d4d4;
    font-size: 16px;
    transition: .2s;
}
input:focus {
    border-color: #0f3264;
    outline: none;
    box-shadow: 0 0 8px rgba(15,50,100,0.3);
}

.nomes-times{
    width: 90%;
    padding: 14px;
    margin: 7px;
    border-radius: 12px;
    border: 2px solid #555;
    font-size: 16px;
    transition: .2s;
}

/* Botões */
.btn {
   width: 70%;
   background: var(--secondary);
   padding: 14px;
   border: none;
   border-radius: 30px;
   color: white;
   font-size: 18px;
   font-weight: bold;
   cursor: pointer;
   transition: .2s;
   text-align: center;
   margin: 25px auto 0 auto;
}

.btn:hover {
    transform: scale(1.03);
    opacity: .95;
}


.card-time{
    background: #f7faff;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid var(--text);
    margin-bottom: 25px;
}

.card-time h3{
    text-align: center;
    color: var(--text);
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .score {
        font-size: 32px;
        gap: 20px;
    }

    .navbar a {
        font-size: 16px;
    }

    .modal-content {
        width: 90%;
    }
}

.lista-jogadores {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 15px 0 25px 0;
}

.jogador-btn {
    background: var(--secondary);
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;

}.jogador-btn2 {
    background: var(--primary);
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
    color: white;
}

.jogador-btn:hover {
    transform: scale(1.05);
    opacity: .9;
}

.jogador-btn2:hover {
    transform: scale(1.05);
    opacity: .9;
}


/*tabela do ranking*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #fff;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: var(--primary);
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/*tela 6 times fase de grupos*/
.container-competicao {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas iguais */
    gap: 30px;
}

@media (max-width: 768px) {
    .container-competicao {
        grid-template-columns: 1fr; /* No celular, um embaixo do outro */
    }
}

.grid-competição {
    display: flex;
    gap: 20px;
    align-items: flex-start; /* Alinha o topo das colunas */
}

.coluna-ranking {
    flex: 1; /* Ocupa uma parte do espaço */
}

.coluna-jogos {
    flex: 1.5; /* Dá um pouco mais de destaque para os jogos */
}

