*{

    box-sizing: border-box;
}

.logo{
    width: 40%;
    text-align: center;
}

.logo img {
    max-width: 300px;
    width: 100%;
    height: auto;
}

.logo .slogan{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
    
}



body {
  background-image: linear-gradient(to bottom, #ffffff, #9b9b9b);
  font-family: sans-serif; /* Recomendado para deixar o texto mais bonito */
  margin: 0; /* Remove a margem padrão do body */
  min-height: 100vh; /* Garante que o gradiente cubra toda a altura da tela */
}

.DivHeader {
    width: 100%;
    height: 100px;
    background-color: rgb(6, 9, 202);
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.DivFooter {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: rgb(6, 9, 202);
    color: white;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
}

main{
    display: flex;
    align-items: center;
    min-height: calc(100vh - 150px);
    padding: 40px;
    justify-content: center;
    gap: 60px;

}

.area_login{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container_login {
    background-color: rgba(235, 241, 241, 0.863);
    width: 100%;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    padding: 30px;

}

.container_cadastro {
    background-color: rgba(235, 241, 241, 0.863);
    width: 100%;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    padding: 30px; 
 
}

.container_cadastro p,
.container_login p {
    font-weight: bold;
    font-size: 1.1rem;
}


.button{
    width: 40%;
    display: block;
    margin: 0, auto;
    padding: 10px 0;
    border:2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background-color: #17c52e;
    box-shadow: -2px 3px 0 #045a08, -4px 6px 0 #000c04;

}

.button:active {
    box-shadow: inset -4px 4px 0 #045a08;
    font-size: 0.9rem;
}

input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #999;
}

input:focus{
    outline: none;
    border-color: rgb(6, 9, 202);
}